/*
Brandon Ko
18 June 2018
CSS Style for the GradeCalc Extension popup
*/
html {
  width: 280px;
  height: auto;
}
head {
  text-align: center;
}
body {
  background-color: rgb(230,230,250);
}
button:hover {
  opacity: 0.7;
  cursor: pointer;
}
div {
  background-color: #fff;
  text-align: left;
  margin-top: 25px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
button {
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  height: 1.3rem;
  outline: 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 10px;
}
.gradeInput {
  width: 60px;
  border-radius: 5px;
}
.selection {
  font-weight: normal;
}
.headimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
}
.box {
  border: 1px solid black;
}